<!DOCTYPE html>
<html>
  <head>
    <title><p>Welcome to location Page!</p></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 
   
    <p>Location input form.</p>
  
	<form action="/insertData" method="post">
	  Name:  <input type="text" name="name" value="">
	  </br>
	  Category:  <input type="text" name="category" value="">
	  </br>
	  <!-- Type:  <input type="text" name="type" value="">-->
	  </br>
	   Longitude:  <input type="text" name="longitude" value="">
	  </br>
	   Latitude:  <input type="text" name="latitude" value="">
	  </br>
	  Address: </br>
	       <textarea rows="2" cols="50" name ="address"> </textarea>
	  <br><br> 
	  Message: </br>
	       <textarea rows="4" cols="50" name ="message"> </textarea>
	  <br><br>
	  
	  <input type="submit" value="Submite">
	</form>

<
  </body>
</html>
